notifications:
  email:
    on_success: change
    on_failure: change
sudo: false
language: python
python:
- 3.6
- 3.7
- 3.8
install:
- pip install tox-travis
- pip install coveralls
deploy:
  provider: pypi
  user: skoef
  password:
    secure: EwoAPILJyrL2FP3fxurXn1lpi/bpHsHngCUKGXUrdeN8toT7bULRVFeYpwfzeTiNPiYAy0mgccfuHzV7Bro6s4EKs9Yk5ILOJ5SJLwYqaXLzsd3lRuotcnVgLXAJ6YFxv619cof3oQHWK/guASB6STd3t7ufHk/hsVelAgwhDvjlH5xRK8v73aUtUFJthKa6iOkY8345gZrHKiTKS4+pftlpuPOjLB0d83fEzSls4C5ZCfZ5C87oAQqK234IbItZFPggtDITl3PFrJCsKtLOS899BiRmnO/odbm1q/ugaJQ4VBdD3DBiIdoSaYQgxym4xJLiUuH4301q3LjvROIDJwD3TrZZE9IcG0hlL97/A66Aqg2puqp9LfauLAm1Tnbsp3McDwhf53g20jn1Pp61UrnqbjClXH/dDNUNLRMwM5nVbYEIzxQCBkDSfq93XYZdZYrhXSTo+lnUqC/q7j38N261eNZfqJ9YzA6tOG24SZ9U//Xy9TqXjcxIc5ZkvmuPe3xfUoOJcZWvDyZr+vixYdUAY9MPzs7zXUt3UkjacHxIL9hqBsN+Zc8tdJh097ZIxffThZnErDjYKjcLbYw2VyfmRsz2KvFQbDp3Xz03uiCjZE4r7fPK1s2bjsXop/ipBoKYnSFznRIPzkSqQ/V+6FrlIzpHw16BigmDDHRQq0w=
    tags: true
    branch: master
script:
- tox
after_success:
- coveralls
